body {
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin: 0 auto;
	width: 1200px;
	background: #ccc;
	
}
h1 {
	font-family: "Helvetica";
	margin: 0 auto;
	width: 1200px;
	background: #ccc;
	
}